<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Change password</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="/customer/home">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Change password</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="login-wrap p-0">
        {{#if message}}
        {{#with message}}
        <div class="alert alert-{{alert}} fade show">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{content}}
        </div>
        {{/with}}
        {{/if}}
        <form method="post" action="/customer/user/password/change">
          <div class="form-group">
            <label for="email">Old password:</label>
            <input type="password" class="form-control" id="oldPass" placeholder="Enter old password" name="oldPass"
              required>
          </div>
          <div class="form-group">
            <label for="newPass">New password:</label>
            <input type="password" id="newPass" class="form-control" name="newPass" placeholder="Enter new password"
              required>
          </div>
          <div class="form-group">
            <label for="confirmPass">Confirm new password:</label>
            <input type="password" id="confirmPass" class="form-control" name="confirmPass"
              placeholder="Enter new password" required>
            <small id="message"></small>
          </div>
          <div class="form-group">
            <button id="changePassBtn" type="submit" class="form-control btn btn-primary submit px-3" disabled>Change password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>